<li>
    <a href="https://www.flipboard.com/@goyoac" itemprop="sameAs">
        <i class='fab fa-fw fa-flipboard' aria-hidden='true'></i>  Flipboard
    </a>
</li>
<!--
<li>
    <a href="http://ambrosiophoto.com" itemprop="sameAs">
        <i class='fab fa-fw fa-500px' aria-hidden='true'></i> 500px
    </a>
</li>
-->

<li>
    <a href="http://goyo-ambrosio.pixels.com/" itemprop="sameAs">
        <i class="fa fa-fw fa-camera" aria-hidden="true"></i> Ambrosio Photography
    </a>
</li>

<li>
    <a href="https://www.researchgate.net/profile/Gregorio_Ambrosio" itemprop="sameAs">
        <img src="{{ "/assets/images/research-gate_20x20.png" | absolute_url }}" alt="Research Gate" style="width:16px;height:16px;border:0;"> Research Gate
    </a>
</li>

<li>
    <a href="https://scholar.google.es/citations?user=GyGNWjwAAAAJ" itemprop="sameAs">
        <img src="{{ "/assets/images/google-scholar_20x20.png" | absolute_url }}" alt="Google Scholar" style="width:16px;height:16px;border:0;"> Google Scholar
    </a>
</li>


